body {
    background-color: #a4eff4;
    font-family: "Trebuchet MS";
}

p, ul {
    font-size: 14px;
}

/* Center image and round the edges. */
img {
	display: block;
	margin: auto;
	border-radius: 100%;
}

#header {
	text-align: center;
	font-size: 24px;
	border: dashed;
}

#back {
	text-align: center;
	font-size: 10px;
}

#secret {
	color: #a4eff4;
	text-align: center;
}

.centered {
	font-size: 24px;
	text-align: center;
}

.links {
	list-style: none;
	text-align: center;
	font-size: 24px;
}
